<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tCustomTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>87AFB0FA1F06A0C80055275F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AFB1131F06A0C90055275F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87AFB11E1F06A0C90055275F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
